<div>
	<h3 class="post-title">{{name}}</h3>
	<div class="post-meta">
		<ul>
			<li><i class="fa fa-user"></i> n/a</li>
			<li><i class="fa fa-clock-o"></i> \{{'{{created}}' | date:'shortTime'}}</li>
			<li><i class="fa fa-calendar"></i> \{{'{{created}}' | date:'mediumDate'}}</li>
		</ul>
	</div>
	<img class="post-image" src="{{elements.image.renditions.default.url}}" alt="">
	<div class="post-text">
		{{elements.post.value}}
	</div>
</div>