<div class="contact-info">
	<h2 class="title text-center">{{elements.title.value}}</h2>
	<address>
		<p>{{elements.company.value}}</p>
		<p>{{elements.address.value}}</p>
		<p>Mobile: <a href="tel:{{elements.mobile.value}}">{{elements.mobile.value}}</a></p>
		<p>Fax: {{elements.fax.value}}</p>
		<p>Email: <a href="mailto:{{elements.email.value}}">{{elements.email.value}}</a></p>
	</address>
</div>
